pandas<2.0
geopandas>=0.10.2, <0.13           # Has additional dependencies (pandas, numpy, shapely, fiona, etc.), tested on 0.10.2
pint>=0.18          # May work on earlier versions but this is what it was tested on
dataretrieval>=0.7, <1.0  # Current version 0.7, v0.8 should include some of the functions currently built-in here for activities/detection queries

descartes>=1.1.0           # May be required for mapping in some jupyter notebooks
